<div class="po-re" *ngIf="isShowQuestion()">
    <div style="position: fixed; ">
        <div class="countdown flex-center" >
            <span class="material-symbols-outlined">
                schedule
                </span>
            {{ formatTime(countdown) }}
        </div>
        <div *ngIf="isSubmit" style="margin-left: 24px;margin-top: 4px;" class="flex-center-h">
            Số điểm đạt được: {{ score.toFixed(2) }}
        </div>
        <div class="show-seleted" style="width: 220px;">
            <div *ngFor="let q of exam.quizs;let i = index">
                <div class="card-q cursor-p" (click)="move('q'+i)" 
                [class.selected]="isSelected(q.id) && !submited()"
                [class.qtrue]="submited() && checkAnswer(q)"
                [class.qfalse]="submited() && !checkAnswer(q)">
                    {{ i+1 }}
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="plr-300 mt-60">
    <div class="flex-center-sb">
        <div class="dis-flex mt-1" >
            <ng-template #avaterdefault >
                <img class="icon-24" src="assets/Icon/user.png" alt="avatar">
            </ng-template>
            <img *ngIf="exam?.userShort?.image !== ''; else avaterdefault" src="{{exam.userShort?.image}}" alt="avatar" class="icon-24" style="margin-right: 8px;">
            <span  class="pl">{{exam.userShort?.fullName}}</span> 
        </div>
        <div class="flex-center-h cursor-d" matTooltip="{{exam.updatedAt == null ? 'Ngày tạo' : 'Ngày cập nhập'}}" matTooltipPosition="right">
            <mat-icon matSuffix >today</mat-icon>
            {{exam.updatedAt ?? exam.createdAt}} 
        </div>
    </div>
    <div>
        <div style="text-align: center;">
            <h5>
                {{ exam.title }}
            </h5>
        </div>
        <div class="mt-1">
            <span class="use-space">
                {{ exam.description }}
            </span>
            <br>
            <span>
                Thời gian thi: <strong>{{ exam.workTime }}</strong> phút
            </span>
            <br>
            <span>Số câu hỏi: <strong>{{ exam.quizs?.length }}</strong></span>
        </div>
    </div>
    <div>
        <div style="text-align: center;">
            <button *ngIf="!isShowQuestion()" mat-raised-button color="primary" (click)="start()">Bắt đầu thi</button>
        </div>
        <div *ngIf="isShowQuestion()" class="mt-1">
            <div *ngFor="let q of exam.quizs; let i = index">
                <div class="mt-1" style="font-size: 16px;" id="q{{ i }}">
                    <div class="mb">
                        <strong>Câu hỏi {{ i+1 }}: </strong>
                        <span>{{ q.content }}</span>
                    </div>
                    <div>
                        <div>
                            <mat-radio-group [(ngModel)]="q.selected">
                                <ng-container *ngFor="let a of q.quizAnswers; let j = index;trackBy: trackByFn" >
                                  <mat-radio-button class="answer" 
                                    [value]="a.id" 
                                    [disabled]="submited()"
                                    >
                                    <span style="font-size: 16px;" 
                                    [class.correct]="submited() && a.isCorrect"
                                    [class.iscorrect]="submited() && a.id == q.selected && !a.isCorrect">
                                        {{ getLetter(j) }}. {{ a.content }}
                                    </span>
                                    
                                  </mat-radio-button>
                                  <br>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button *ngIf="btnSubmit" mat-raised-button color="primary" (click)="submit()">Nộp bài</button>
        </div>
    </div>
</div>
