<div class="Post-Create-Card">
    <mat-stepper linear #stepper>
        <mat-step [editable]="isEditable">
            <div style="margin-top: 8px;"></div>
            <form [formGroup]="createpostform">
                <ng-template matStepLabel>Nội dung câu chuyện</ng-template>
                <mat-form-field  class="w-100">
                    <input style="font-size: 1.4em;line-height: 0;" class="fw-5" matInput formControlName="Title" placeholder="Nhập tiêu đề ở đây..." required>
                    <mat-error *ngIf="createpostform.get('Title')?.hasError('required')">
                        Tiêu đề là bắt buộc
                    </mat-error>
                    <mat-error *ngIf="createpostform.get('Title')?.hasError('maxlength')">
                        Tiêu đề không được quá dài
                    </mat-error>
                </mat-form-field>
                <div>
                    <ckeditor
                        style="max-height: 650px; overflow: auto;"
                        [editor]="Editor"
                        [config]="editorConfig"
                        formControlName="Content"
                        (change)="onEditorChange($event)"
                    ></ckeditor>
                </div>
                <div class="mt-1">
                    <button mat-raised-button color="primary" matStepperNext >Tiếp theo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [editable]="isEditable">
            <ng-template matStepLabel>Trang trí</ng-template>
            <form [formGroup]="createpostform">
                <div style="margin-top: 8px;"></div>
                <label class="image-upload-container btn btn-bwm font">
                    <span class="mb">Chọn ảnh</span>
                    <input #imageInput class="font" type="file" accept="image/*" (change)="onFileSelected(imageInput)">
                </label>
                <div class="image-card">
                    <div class="po-ab">
                        <i style="color: #aeaeae;">Ảnh bìa</i>
                    </div>
                    <img style="z-index: 1;" [src]="selectedImage" alt="Selected Image" *ngIf="selectedImage">
                </div>

                <mat-form-field class=" w-100 mt-1">
                    <mat-chip-grid #chipGrid aria-label="Chọn 1 chủ đề">
                        <mat-chip-row *ngFor="let title of choosetopic" (removed)="removeTopic(title)">
                            {{title}}
                            <button matChipRemove [attr.aria-label]="'remove ' + title">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <mat-label>
                        <mat-icon matSuffix >new_label</mat-icon>
                    </mat-label>
                    <input placeholder="Tìm kiếm chủ đề..." #topicInput [formControl]="topicCtrl"
                        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addTopic($event)"
                        />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTopic($event)">
                        <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
                            {{topic}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class=" w-100">
                    <mat-chip-grid #chipGridTag aria-label="Hashtag làm cho các bài viết của bạn được dễ tìm thấy hơn">
                        <mat-chip-row *ngFor="let title of chooseTag" (removed)="removeTag(title)">
                            {{title}}
                            <button matChipRemove [attr.aria-label]="'remove ' + title">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>

                    <mat-label>
                        <mat-icon matSuffix>tag</mat-icon>
                    </mat-label>
                    <input placeholder="Gắn thẻ (không bắt buộc)" #TagInput [formControl]="tagCtrl"
                        [matChipInputFor]="chipGridTag" [matAutocomplete]="autoTag"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodesTag"
                        (matChipInputTokenEnd)="addTag($event)"
                        />
                    <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedTag($event)">
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                            {{tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Quay lại</button>
                    <button mat-raised-button color="primary" matStepperNext>Tiếp theo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="createpostform">
            <div style="margin-top: 8px;"></div>
            <ng-template matStepLabel>Hoàn thành</ng-template>
            <div *ngIf="Check(); else Invalid">
                <div class="flex-center-sb">
                    <mat-chip-set cdkDropListOrientation="horizontal">
                        <mat-chip cdkDrag>{{createpostform.get('TopicName')?.value}}</mat-chip>
                    </mat-chip-set>
                    <span>
                        {{currentDate}}
                    </span>
                </div>
                <div>
                    <h5>{{createpostform.get('Title')?.value}}</h5>
                    <div>
                        <div [innerHTML]="createpostform.get('Content')?.value"></div>
                    </div>
                </div>
                <div>
                    <mat-chip-set cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip *ngFor="let tag of chooseTag" cdkDrag>{{ tag }}</mat-chip>
                      </mat-chip-set>
                </div>

            </div>
            <ng-template #Invalid>
                <i class="text-red">*Vui lòng điền đầy đủ thông tin yêu cầu!</i>
            </ng-template>
            <div>
                <button mat-button matStepperPrevious>Quay lại</button>
                <button mat-raised-button color="primary" [disabled]="!Check()" (click)="CreatePost()">Đăng</button>
                <!-- <button mat-button (click)="stepper.reset()">Đăng</button> -->
            </div>
        </mat-step>
    </mat-stepper>  
</div>