<div class="plr-200 flex-center-h">
    <div class="interact-save">
        <button *ngIf="isCheckAdmin()" matTooltip="Bài thi đã tạo" matTooltipPosition="right" routerLink="/mycategory/exam"
            mat-icon-button class="btn-interact " style="top: 100px;">
            <span class="material-symbols-outlined " > 
                indeterminate_question_box
            </span>
        </button>
        <button matTooltip="Lịch sử thi" matTooltipPosition="right" 
            mat-icon-button class="btn-interact seleted" style="top: 148px;" >
            <span class="material-symbols-outlined"> 
                bookmark_added
            </span>
        </button>
        
    </div>
    <div style="min-width: 400px; max-width: 1000px;">
        <table mat-table [dataSource]="dataSource" matSort class="font">
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Bài thi </th>
              <td mat-cell *matCellDef="let examhistory" style="cursor: pointer;" class="font"> 
                <a (click)="ExamDetail(examhistory.multipleChoiceResponseDto)" class="text-3-line">
                    <strong>{{ examhistory.multipleChoiceResponseDto.title }}</strong>
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="numberQuiz">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Số câu hỏi </th>
                <td mat-cell *matCellDef="let post" > {{ post.numberQuiz }} </td>
              </ng-container>
            <!-- Created At Column -->
            <ng-container matColumnDef="Scores">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Điểm thi</th>
              <td mat-cell *matCellDef="let post"> {{ post.scores }} </td>
            </ng-container>
      
            <!-- Updated At Column -->
            <ng-container matColumnDef="CompletionTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Thời gian làm bài </th>
                <td mat-cell *matCellDef="let post"> {{ post.completionTime }} phút</td>
            </ng-container>
            
            <ng-container matColumnDef="StarDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Ngày thi </th>
            <td mat-cell *matCellDef="let post"> {{ post.starDate }} </td>
            </ng-container>
                
            <tr style="height: 48px;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <div  class="tag-category plr-1 pt pb text-white">
        Lịch sử thi
    </div>
</div>