::ng-deep .mat-form-field-appearance-outline.specific-border .mat-form-field-outline  {
    background-color: white !important;
    border-radius: 5px;  
    outline: 0.5px solid #ccccccb6 !important;
}
.title-question {
    font-size: 1em;
    max-width: 100%;
    min-width: 100%;
    height: 106px;
    max-height: 106px;
}
:host ::ng-deep .ck.ck-editor__main > .ck-editor__editable {
    background: var(--ck-color-base-background);
    border-radius: 0;
    min-height: 6.5em !important;
    max-height: 11.5em !important;
    overflow: auto;
  }