<div class="plr-200">
    <div class="interact">
        <button matTooltip="Câu hỏi của tôi" matTooltipPosition="right"
            mat-icon-button class="btn-interact " style="top: 100px;" routerLink="/mycategory/question">
            <span class="material-symbols-outlined " > 
                indeterminate_question_box
            </span>
        </button>
        <button matTooltip="Câu hỏi đã lưu" matTooltipPosition="right" 
            mat-icon-button class="btn-interact seleted" style="top: 148px;" >
            <span class="material-symbols-outlined"> 
                bookmark_added
            </span>
        </button>
        
    </div>
    <div style="text-align: center; margin-top: 48px;">
        <div *ngFor="let question of questions" class="" style="display: inline-flex;">
            <div style="z-index: 10;">
                <button matTooltip="Bỏ lưu" matTooltipPosition="right" mat-mini-fab (click)="IsSave(question, $event)" class=" po-ab" style="margin-top: 4px; margin-left: 12px;background-color: #00000073 ;height: 24px;
                width: 24px;">
                    <mat-icon class="material-symbols-outlined text-white">
                        close
                    </mat-icon>
                </button>
            </div>
            <a class="card-question font pt-1" (click)="postDetail(question)" style="padding: 0 10px;">
                <strong class="text-5-line" style="text-align: start;     margin-top: 4px;">
                    <ng-container *ngFor="let space of [1, 2, 3, 4, 5,6,7,8,9]">&nbsp;</ng-container>{{question.title}}
                </strong>
                
                <div class="son-question">
                    <div class="dis-flex mt" >
                        <img *ngIf="question.userShort.image !== ''; else avaterdefault" src="{{question.userShort.image}}" alt="" class="icon-24">
                        <ng-template #avaterdefault >
                            <img class="icon-24" src="assets/Icon/user.png" alt="">
                        </ng-template>
                        <span class="pl-1" *ngIf="question.userShort.fullName !== ''; else fullname">{{question.userShort.fullName}}</span>
                        <ng-template class="pl-1" #fullname>{{question.userShort.fullName}}</ng-template>
                    </div>
                    <div class="flex-center-sb">
                        <div>
                            {{question.viewNumber}} lượt xem
                        </div>
                        <div>
                            <div *ngIf="question.updatedAt == null; else updateAt">{{question.createdAt}}</div>
                            <ng-template #updateAt>{{question.updatedAt}}</ng-template>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
