<div class="footer mt-50">
    <div class="flex-center-h">
        <img class="logo" src="assets/Icon/pagoda64.png" alt="">
        <div class="pl-1"><strong>Tôi yêu lịch sử</strong></div>
    </div>
    <div>
        <ul><strong>Danh mục</strong>
            <li>Khám phá</li>
            <li>Học tập</li>
            <li>Luyện tập</li>
            <li>Diễn đàn</li>
            <li>Tài liệu</li>
            <li>Tin tức</li>
        </ul>
    </div>
    <div>
        <ul><strong>Danh mục</strong>
            <li>Khám phá</li>
            <li>Học tập</li>
            <li>Luyện tập</li>
            <li>Diễn đàn</li>
            <li>Tài liệu</li>
            <li>Tin tức</li>
        </ul>
    </div>
    <div>
        <ul><strong>Về chúng tôi</strong>
            <li>Giới thiệu</li>
            <li>Ủng hộ</li>
        </ul>
    </div>
    <div>
        <div class="flex-center">
            Dân ta phải biết sử ta
        </div>
        <div>Cho tường gốc tích, nước nhà Việt Nam</div>
        <div>
            <br>
            <div class="flex-center-sb">
                <label>Email</label>
                <input type="email" matTooltip="Nhập email của bạn"/>
            </div>
            <div class="flex-center-sb">
                <label>Lời nhắn</label>
                <textarea matLine="3" style="width: 169.6px; max-width: 170px;min-width: 169px;max-height: 192px;" type="text" matTooltip="Nhập nội dung"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <h3>'Tôi yêu lịch sử' là nền tảng chuyên biệt về kiến ​​thức, nguồn tài liệu liên quan đến lịch sử Việt Nam. Tại đây, bạn có thể nghiên cứu lịch sử, đặt câu hỏi và nhận câu trả lời từ cộng đồng, viết blog cá nhân để chia sẻ kiến ​​thức, kinh nghiệm, cũng như tìm kiếm, tài liệu và làm các bài thi trắc nghiệm lịch sử hay</h3>
    <div>
        © 2024 VietNam, Inc | Website to develop by <a href="https://www.facebook.com/LuongXuanNhat114" style="padding: 0px 4px; color: antiquewhite;" target="_blank"> Nhat Luong </a> & <a href="https://www.facebook.com/vuanhpham25" style="padding: 0px 4px; color: antiquewhite;" target="_blank"> Vu Pham</a>
    </div>
</div>