<div class="footer mt-50">
    <div class="dis-flex">
        <img style="width: 24px;height: 24px; object-fit: contain;" src="assets/NguoiKeSu_min.png" alt="">
        <div class="pl-1"><strong>Người kể sử</strong></div>
    </div>
    <div>
        <ul><strong>Danh mục</strong>
            <li>Khám phá</li>
            <li>Học tập</li>
            <li>Luyện tập</li>
            <li>Diễn đàn</li>
            <li>Tài liệu</li>
            <li>Tin tức</li>
        </ul>
    </div>
    <div>
        <ul><strong>Danh mục</strong>
            <li>Khám phá</li>
            <li>Học tập</li>
            <li>Luyện tập</li>
            <li>Diễn đàn</li>
            <li>Tài liệu</li>
            <li>Tin tức</li>
        </ul>
    </div>
    <div>
        <ul><strong>Về chúng tôi</strong>
            <li>Giới thiệu</li>
            <li>Ủng hộ</li>
        </ul>
    </div>
    <div>
        <div class="flex-center">
            Dân ta phải biết sử ta
        </div>
        <div>Cho tường gốc tích, nước nhà Việt Nam</div>
        <div>
            <br>
            <div class="flex-center-sb">
                <label>Email</label>
                <input type="email" matTooltip="Nhập email của bạn"/>
            </div>
            <div class="flex-center-sb">
                <label>Lời nhắn</label>
                <textarea matLine="3" style="width: 169.6px; max-width: 170px;min-width: 169px;max-height: 192px;" type="text" matTooltip="Nhập nội dung"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="footer" style="justify-content: center;">
    © 2023 VietNam, Inc.
</div>