<div class="dis-block w-50 font">
    <div class="dis-flex" style="justify-content: space-between; align-items: center;">
        <h3>Thay đổi mật khẩu</h3>
        <button mat-button  class="pl-1" style="top: 3px;" (click)="toggleEditMode()" [title]="isEditMode ? 'Hủy' : 'Chỉnh sửa'">
            <mat-icon>{{ isEditMode ? 'cancel' : 'edit' }}</mat-icon>
        </button>
    </div>
    <form [formGroup]="passform" (ngSubmit)="changepass()">
        <mat-form-field class="w-100">
            <mat-label>Mật khẩu hiện tại</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" 
            placeholder="Ví dụ: 'Mk5manh/'" formControlName="Password" autocomplete="password"
            [readonly]="!isEditMode">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="w-100 dis-block">
            <mat-label>Mật khẩu mới</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" 
            placeholder="Ví dụ: 'Mk5manh/'" formControlName="NewPassword" autocomplete="new-password"
            [readonly]="!isEditMode">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Nhập lại mật khẩu mới</mat-label>
            <input matInput formControlName="Confirm" [readonly]="!isEditMode" autocomplete="new-password">
        </mat-form-field>
        <div style="justify-content: flex-end; display: flex;">
            <button mat-raised-button color="primary" (click)="changepass()" *ngIf="isEditMode" >Cập nhập</button>
        </div>
    </form>
</div>
