<div class="po-re">
    <div style="position: fixed; ">
        <div class="interact">
            <button matTooltip="Cùng thắc mắc" mat-icon-button matTooltipPosition="right" *ngIf="!isThumbUp; else liked" (click)="toggleThumb()" class="btn-interact">
                <span class="material-symbols-outlined"> 
                    thumb_up
                </span> 
                <div class="likeNumber">
                    {{likeNumber}}
                </div>
            </button>
            <ng-template #liked>
                <button matTooltip="Cùng thắc mắc" mat-icon-button matTooltipPosition="right" mat-icon-button (click)="toggleThumb()" class="selected btn-interact">
                    <span class="material-symbols-outlined selected-icon">
                        thumb_up
                    </span>
                    <div class="likeNumber">
                        {{likeNumber}}
                    </div>
                </button>
            </ng-template>
            <button (click)="scrollToAnswerCard()" matTooltip="Đến câu trả lời" matTooltipPosition="right" mat-icon-button class="btn-interact">
                <span class="material-symbols-outlined">
                    forum
                </span>
                <div class="likeNumber">
                    {{commentNum}}
                </div>
            </button>
    
            <button matTooltip="Lưu xem sau" matTooltipPosition="right" mat-icon-button *ngIf="!isSave; else saved" (click)="IsSave()" class="btn-interact">
                <span class="material-symbols-outlined">
                    bookmark_add
                </span>
                <div class="likeNumber">
                    {{saveNumber}}
                </div>
            </button>
            <ng-template #saved >
                <button matTooltip="Bỏ lưu" matTooltipPosition="right" mat-icon-button (click)="IsSave()" class="selected btn-interact">
                    <span class="material-symbols-outlined selected-icon">
                        bookmark_added
                    </span>
                    <div class="likeNumber">
                        {{saveNumber}}
                    </div>
                </button>
            </ng-template>
    
            <button class="dis-flex" matTooltip="Báo cáo" matTooltipPosition="right" mat-icon-button (click)="Report()">
                <span class="material-symbols-outlined">
                    error
                </span>
            </button>
            <button class="dis-flex" matTooltip="Copy" matTooltipPosition="right" mat-icon-button title="Chia sẻ link bài viết" (click)="copyToClipboard()">
                <span class="material-symbols-outlined">
                    content_copy
                </span>
            </button>
            <div *ngIf="canEditDelete()">
                <button class="dis-flex" matTooltip="Sửa bài" matTooltipPosition="right" mat-icon-button (click)="updatePost()">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
                <button class="dis-flex" matTooltip="Xóa bài" matTooltipPosition="right" mat-icon-button  style="display: block;">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
        </div>
    </div>  
</div>
<div class="mt-50 plr-300 dis-flex mh-page">
    <div style="flex-grow: 1;" class="font">
        <div class="flex-center-sb">
            <div class="dis-flex mt-1" >
                <ng-template #avaterdefault >
                    <img class="icon-24" src="assets/Icon/user.png" alt="avatar">
                </ng-template>
                <img *ngIf="question?.userShort?.image !== ''; else avaterdefault" src="{{question?.userShort?.image}}" alt="avatar" class="icon-24" style="margin-right: 8px;">
                <span  class="pl">{{question?.userShort?.fullName}}</span>
                
            </div>
        </div>
        <div>
            <h1 class="fs-20 fw-6">{{question?.title}}</h1>
            <div>
                <p class="font content-question mt-1 mb-1" [innerHTML]="question?.content" style="overflow: auto;"></p>
                <span class="flex-center-sb">
                    <div ><strong>Lượt xem: {{question?.viewNumber}}</strong></div>
                    <div class="flex-center-h cursor-d" matTooltip="{{question?.updatedAt == null ? 'Đã tạo' : 'Đã sửa'}}" matTooltipPosition="right">
                        <mat-icon matSuffix>today</mat-icon>
                        {{question?.updatedAt ?? question?.createdAt}} 
                    </div>
                </span>
            </div>
        </div>
        <div>
            <mat-chip-set cdkDropList cdkDropListOrientation="horizontal" >
                <div *ngIf="question?.tags?.length" class="flex-center-h">
                    <mat-icon matSuffix>tag</mat-icon>
                    <mat-chip matTooltip="Tìm kiếm tag này" matTooltipPosition="below" *ngFor="let tag of question?.tags" cdkDrag (click)="findByTag(tag.name)">
                        <span style="cursor: pointer;">
                            {{tag.name}}
                        </span></mat-chip>
                </div>
            </mat-chip-set>
        </div>
        
        <div id="answerCard" >
            <div class="flex-center-sb">
                <h6 class="card-answer pb-1"><strong>Trả lời</strong></h6>
                <button class="flex-center-h"  [matMenuTriggerFor]="menu1" aria-label="Sắp xếp" matTooltip="Sắp xếp" style="border: none; background-color: transparent;">
                    <span class="pr">Sắp xếp</span>
                    <span class="material-symbols-outlined">
                        keyboard_arrow_down
                    </span>  
                  </button>
                  <mat-menu #menu1="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Mặc định</span>
                      </button>
                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Theo thời gian</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Lượt bình chọn nhiều nhất</span>
                    </button>
                  </mat-menu>
            </div>
            <div *ngIf="userId; else login" style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                <div style="display: flex; align-items: center;" class="pb">
                    <img class="icon-24" [src]="imgUser || 'assets/Icon/user.png'" alt="">
                    <strong class="pl">{{userName}}</strong>
                </div>
                
                <div style="font-size: 14px;">
                    <ckeditor
                        style="max-height: 650px; overflow: auto;"
                        [editor]="Editor"
                        [config]="editorConfig"
                        [(ngModel)]="createCommentContent"
                        (change)="onEditorChange($event)"
                    ></ckeditor>
                </div>
                <div class="mt">
                    <button mat-raised-button color="primary" *ngIf="isCommented" (click)="sendAnswer()">Trả lời</button>
                    <button mat-button *ngIf="isCommented" (click)="cancelComment()">Hủy</button>
                </div>
            </div>
            <ng-template #login class="pt">
                <span class="pr">Đăng nhập để bình luận </span>
                <button mat-raised-button color="primary" (click)="loginUser()">Đăng nhập</button>
            </ng-template>
            
            <div *ngIf="answers && answers.length > 0">
                <div *ngFor="let answer of answers">
                    <div style="display: flex; align-items: center;" class="mt-1">
                        <div>
                            <button class="bubbly-button" (click)="onClickButton($event, answer)" matTooltip="Tán thành" matTooltipPosition="left">
                            </button>
                        </div>
                        <img class="icon-24 ml" [src]="answer.userShort?.image == '' ? 'assets/Icon/user.png' : answer.userShort?.image" alt="avatar">
                        <strong class="pl">{{answer.userShort?.fullName}} </strong>
                        <div *ngIf="answer.confirm">
                            <img src="assets/Icon/tick.png" class="ml-1 img-24" matTooltip="{{question?.userShort?.fullName}} đã chọn đây là câu trả lời đúng nhất" alt="tick" >
                        </div>
                        <div *ngIf="answer.mostConfirm">
                            <img src="assets/Icon/tick1.png" class="ml-1 img-24" matTooltip="câu trả lời nhiều người đông ý nhất" alt="tick" >
                        </div>
                        <div style="display: flex; margin-left: auto; align-items: center;">
                            <div class="mr-1 cursor-d" matTooltip="{{answer.updatedAt ? 'Ngày cập nhập':'Ngày tạo'}}" matTooltipPosition="left">{{answer.updatedAt ?? answer?.createdAt}}</div>
                            <button  [matMenuTriggerFor]="menu2" *ngIf="answer.userShort?.id === userId || question?.userShort?.id === userId" mat-icon-button class=" dis-flex" style="right: 16px;">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                            </button>
                        </div>
                    </div>
                    
                    <div btn-comment>
                        <mat-menu #menu2="matMenu" >
                            <div *ngIf="question?.userShort?.id === userId">
                                <button mat-menu-item (click)="confirmAnswerByQuestioner(answer)" >
                                    <div class="flex-center-h" *ngIf="!answer.confirm; else unConfirmAnswer">
                                        <span class="material-symbols-outlined" style="color: green;">
                                            check_circle
                                        </span>
                                        <span class="cursor-p ml-1">Câu trả lời đúng nhất</span>
                                    </div>
                                    <ng-template #unConfirmAnswer class="flex-center-h">
                                        <span class="material-symbols-outlined" style="color: green;">
                                            check_circle
                                        </span>
                                        <span class="cursor-p ml-1">Bỏ chọn trả lời đúng nhất</span>
                                    </ng-template>
                                </button>
                            </div>
                            <div *ngIf="answer.userShort?.id === userId">
                                <button mat-menu-item (click)="editAnswer(answer.id ?? '')">
                                    <mat-icon>edit</mat-icon>
                                    <span>Sửa</span>
                                  </button>
                                  <button mat-menu-item (click)="deleteAnswer(answer.id ?? '')">
                                    <mat-icon>delete</mat-icon>
                                    <span>Xóa</span>
                                  </button>
                            </div>
                            
                        </mat-menu>
                    </div>
                    
                <div [innerHTML]="answer.content" class="content" style="position: relative !important;"></div>
                
                <!-- Edit Answer -->
                <div *ngIf="isCheckEdit(answer?.id ?? '')" style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                    <div style="display: flex; align-items: center;" class="pb">
                        <img class="icon-24" [src]="imgUser || 'assets/Icon/user.png'" alt="">
                        <strong class="pl">{{userName}}</strong>
                    </div>
                    
                    <div style="font-size: 14px;">
                        <ckeditor
                            style="max-height: 650px; overflow: auto;"
                            [editor]="Editor"
                            [config]="editorConfig"
                            [(ngModel)]="contentUpdate"
                            (change)="onEditChange($event)"
                        ></ckeditor>
                    </div>
                    <div class="mt">
                        <button mat-raised-button color="primary" *ngIf="isUpdateCommented" (click)="submitEdited()">Cập nhập</button>
                        <button mat-button (click)="cancelEditComment()">Hủy</button>
                    </div>
                </div>
                <!-- Comment -->
                <div>
                    <div class="flex-center-sb">
                        <div class="flex-center-h">
                            <div class="cursor-d mr-1" matTooltip="Người chọn câu trả lời này đúng" matTooltipPosition="below" style="font-weight: 700; color: #263390;">
                                {{answer.voteNumber != 0 ? '+'+answer.voteNumber : '0'}}
                            </div>

                            <div *ngIf="answer.subAnswer?.length" class="flex-center-h cursor-p" matTooltip="Xem bình luận" matTooltipPosition="left" (click)="viewComments(answer.id ?? '')">
                                <span class="material-symbols-outlined mr">
                                    notes
                                </span>
                                {{answer.subAnswer?.length}} 
                            </div>
                        </div>
                        <div class="dis-flex cursor-p reply" (click)="Reply(answer?.id ?? '')" style="margin-left: auto;">
                            <span class="material-symbols-outlined">
                                reply
                            </span>
                            <div style="font-weight: 500;">Bình luận</div>
                        </div>
                    </div>
                    <div *ngIf="CheckReply(answer.id ?? '')" style="margin-left: 4%;" class="mt">
                        <div *ngIf="userId; else login" style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                            <div style="display: flex; align-items: center;" class="pb">
                                <img class="icon-24" [src]="imgUser || 'assets/Icon/user.png'" alt="">
                                <strong class="pl">{{userName}}</strong> 
                                <div style="padding-left:4px;" class="cursor-p" > bình luận câu trả lời của <i>{{answer.userShort?.fullName}}</i></div> 
                            </div>
                            
                            <div style="font-size: 14px;">
                                <ckeditor
                                    style="max-height: 650px; overflow: auto;"
                                    [editor]="Editor"
                                    [config]="editorConfig"
                                    [(ngModel)]="subAnswerContent"
                                    (change)="onEditorChange($event)"
                                ></ckeditor>
                            </div>
                            <div class="mt">
                                <button mat-raised-button color="primary" (click)="sendSubAnswer(answer.id ?? '')">Bình luận</button>
                                <button mat-button  (click)="cancelReply()">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Show Comment (SubAnser) -->
                <div *ngIf="viewComment == answer.id" style="margin-left: 4%;">
                    <div *ngFor="let subAnswer of answer.subAnswer">
                        <div style="display: flex; align-items: center;" class="mt">
                            <img class="icon-24" [src]="subAnswer.userShort?.image == '' ? 'assets/Icon/user.png' : subAnswer.userShort?.image" alt="avatar">
                            <strong class="pl">{{subAnswer.userShort?.fullName}} </strong>
                            <div class="pl cursor-d" matTooltip="{{answer.updatedAt ? 'Ngày cập nhập':'Ngày tạo'}}" matTooltipPosition="right">{{subAnswer.updatedAt ?? subAnswer?.createdAt}}</div>
                            <button  [matMenuTriggerFor]="menu3" *ngIf="subAnswer.userShort?.id === userId " mat-icon-button class=" dis-flex" style="right: 16px; margin-left: auto;">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                            </button>
                        </div>
                        
                        <div btn-comment>
                            <mat-menu #menu3="matMenu" >
                                <button mat-menu-item (click)="editSubAnswer(subAnswer)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Sửa</span>
                                </button>
                                <button mat-menu-item (click)="deleteSubAnswer(subAnswer.id ?? '')">
                                  <mat-icon>delete</mat-icon>
                                  <span>Xóa</span>
                                </button>
                                
                            </mat-menu>
                        </div>
                        
                    <div [innerHTML]="subAnswer.content" class="content" style="position: relative !important;"></div>
                    <!--Create SubAnswer -->
                    <div>
                        <div class="flex-center-sb">
                            <div></div>
                            <div class="dis-flex cursor-p reply" (click)="Reply(subAnswer?.id ?? '')">
                                <div style="font-size: 13;">Bình luận</div>
                            </div>
                        </div>
                        <div *ngIf="CheckReply(subAnswer.id ?? '')" style="margin-left: 4%;" class="mt">
                            <div *ngIf="userId; else login" style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                                <div style="display: flex; align-items: center;" class="pb">
                                    <img class="icon-24" [src]="imgUser || 'assets/Icon/user.png'" alt="">
                                    <strong class="pl">{{userName}}</strong> 
                                    <div style="padding-left:4px;" class="cursor-p" > trả lời bình luận câu của <i>{{subAnswer.userShort?.fullName}}</i></div> 
                                </div>
                                
                                <div style="font-size: 14px;">
                                    <ckeditor
                                        style="max-height: 650px; overflow: auto;"
                                        [editor]="Editor"
                                        [config]="editorConfig"
                                        [(ngModel)]="subAnswerContent"
                                        (change)="onEditorChange($event)"
                                    ></ckeditor>
                                </div>
                                <div class="mt">
                                    <button mat-raised-button color="primary" (click)="sendSubAnswer(answer.id, subAnswer.userShort)">Bình luận</button>
                                    <button mat-button  (click)="cancelReply()">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit SubAnswer -->
                    <div *ngIf="isCheckSubEdit(subAnswer?.id ?? '')" style="padding: 8px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                        <div style="display: flex; align-items: center;" class="pb">
                            <img class="icon-24" [src]="imgUser || 'assets/Icon/user.png'" alt="">
                            <strong class="pl">{{userName}}</strong>
                        </div>
                        
                        <div style="font-size: 14px;">
                            <ckeditor
                                style="max-height: 650px; overflow: auto;"
                                [editor]="Editor"
                                [config]="editorConfig"
                                [(ngModel)]="contentSubUpdate"
                                (change)="onSubEditorChange($event)"
                            ></ckeditor>
                        </div>
                        <div class="mt">
                            <button mat-raised-button color="primary" *ngIf="isEditSubCommented" (click)="submitEditedSubAnswer()">Cập nhập</button>
                            <button mat-button (click)="cancelEditSubComment()">Hủy</button>
                        </div>
                    </div>
                </div>
                </div>
                
            </div>            
        </div>
    </div>
</div>
