<!--
Theme by: WebThemez.com 
Note: Please use our back link in your site (webthemez.com)
-->
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]--> 
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]--> 
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]--> 
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]--> 


<section class="main"> 
<div id="Content" class="wrapper topSection">
	<div id="Header"> 
	<div class="wrapper">
		<div class="logo">
      <h1>
        <img src="assets/Icon/logotyls.png" />
        Tôi Yêu Lịch Sử
        <h3 class="flex-center font ">
          💥 Sắp ra mắt 💥
        </h3>
      </h1>
    </div>
		</div>
	</div>
  <div class="countdown styled" class="countdown styled" [innerHTML]="countdownValue"> 

  </div>

</div>
</section>
<div style="height: 260px;">

</div>

