
<section class="main"> 
<div id="Content" class="wrapper topSection">
	<div id="Header"> 
	<div class="wrapper">
		<div class="logo">
      <img src="assets/Icon/logotyls.png" />
      <h1 style="text-align: center;">
        Khóa học | Tôi Yêu Lịch Sử 
      </h1>
      <h3 class="flex-center font ">
        💥 Sắp ra mắt 💥
      </h3>
    </div>
		</div>
	</div>
  <div class="countdown styled" class="countdown styled" [innerHTML]="countdownValue"> 

  </div>

</div>
</section>
<div style="height: 260px;">

</div>

