
<div class="dis-block w-50 font">
    <div class="dis-flex" style="justify-content: space-between; align-items: center;">
        <h6>Thay đổi email</h6>
        <button mat-button  class="pl-1" style="top: 3px;" (click)="toggleEditMode()" [title]="isEditMode ? 'Hủy' : 'Chỉnh sửa'">
            <mat-icon>{{ isEditMode ? 'cancel' : 'edit' }}</mat-icon>
        </button>
    </div>
    <mat-form-field class="w-100">
        <mat-label>Email hiện tại</mat-label>
        <input matInput [value]="emailcurrent" readonly>
    </mat-form-field>
    <mat-form-field class="w-100 dis-block">
        <mat-label>Email mới</mat-label>
        <input matInput type="email" [(ngModel)]="email" [readonly]="!isEditMode">
    </mat-form-field>
    <div style="justify-content: flex-end; display: flex;">
        <button mat-raised-button color="primary" (click)="changeemail()" *ngIf="isEditMode" >Cập nhập</button>
    </div>
</div>

