<div class="mt-60 plr-300 mh-page">
    <h5 class="mt mb" style="text-align: center;">
        📻 Bản tin lịch sử tổng hợp
    </h5>
    <div class="mt-1">
        <a *ngFor="let new of pagedNews" [href]="new.url" 
            class="flex-center-h mt text-black underline-none" target="_blank">
            <img class="img-news" src="{{new.image}}" loading="lazy" alt="ảnh tin tức">
            <div class="ml-1 dis-block">
                <div>
                    <strong style="font-size: 20px;">
                        {{new.title}}
                    </strong>
                </div>
                <div>
                    {{new.description}}
                </div>
                <div style="float: inline-end;">
                    {{new.createdAt}}
                </div>
            </div>
        </a>
        <mat-paginator [pageSize]="pageSize" 
                        [pageIndex]="currentPage - 1" 
                        [length]="news.length" 
                        [pageSizeOptions]="[10,15,20,50]"
                        (page)="pageEvent($event)"></mat-paginator>
    </div>
</div>