<div class="mt-1 mh-page">
    <a *ngFor="let q of questions" (click)="redirectToQuestion(q)" >
        <div class="question-card">
            <strong class="text-3-line fs16">🔖{{q.title}}</strong>
            <div class="flex-center-h">
                <div class="flex-center-h plr-12">
                    <span class="material-symbols-outlined pr">
                        fullscreen
                    </span>
                    {{q.viewNumber}}
                    lượt xem
                </div>
                <div class="flex-center-h plr-12">
                    <span class="material-symbols-outlined pr">
                        notes
                    </span>
                    {{q.commentNumber}}
                    trả lời
                </div>
                <div class="flex-center-h plr-12">
                    <span class="material-symbols-outlined pr">
                        bookmark
                    </span>
                    {{q.saveNumber}}
                    lượt lưu
                </div>
                <div class="flex-center-h plr-12">
                    <span class="material-symbols-outlined pr">
                        send
                    </span>
                    chia sẻ
                </div>
                <div *ngIf="q.likeNumber != 0" class="flex-center-h plr-12">
                    💡{{q.likeNumber}} người cùng thắc mắc
                </div>
            </div>
        </div>
    </a>
</div>