<div class="po-re">
    <app-interact></app-interact>
</div>
<div class="mt-50 plr-200 dis-flex">
    <div style="flex-grow: 1;">
        <div class="flex-center-sb">
            <mat-chip-set cdkDropListOrientation="horizontal">
                <mat-chip cdkDrag>{{postData?.topicName}}</mat-chip>
            </mat-chip-set>
            <div class="dis-flex" >
                <ng-template #avaterdefault >
                    <img class="icon-24" src="assets/Icon/user.png" alt="">
                </ng-template>
                <span  class="pr">{{postData?.userShort?.fullName}}</span>
                <img *ngIf="postData?.userShort?.image !== ''; else avaterdefault" src="{{postData?.userShort?.image}}" alt="" class="icon-24" style="margin-left: 8px;">
            </div>
        </div>
        <div>
            <h2>{{postData?.title}}</h2>
            <div>
                <div [innerHTML]="postData?.content" style="overflow: auto;"></div>
                <div class="flex-center-sb">
                    <div ><strong>Lượt xem: {{postData?.viewNumber}}</strong> </div>
                    <div class="flex-center-h">
                        <mat-icon matSuffix>today</mat-icon>
                        {{postData?.updatedAt ?? postData?.createdAt}} 
                    </div>
                </div>
            </div>
        </div>
        <div>
            <mat-chip-set cdkDropList cdkDropListOrientation="horizontal" >
                <div *ngIf="postData?.tags?.length" class="flex-center-h">
                    <mat-icon matSuffix>tag</mat-icon>
                    <mat-chip *ngFor="let tag of postData?.tags" cdkDrag (click)="findByTag(tag.name)">
                        <span style="cursor: pointer;">
                            {{tag.name}}
                        </span></mat-chip>
                </div>
            </mat-chip-set>
        </div>
    </div>
    <div class="card_more">
        <app-cardpostmore></app-cardpostmore>
    </div>
</div>
