<div class="po-re">
    <div style="position: fixed; ">
        <div class="interact">
            <button matTooltip="Lưu xem sau" matTooltipPosition="right" mat-icon-button *ngIf="!isSave; else saved" (click)="IsSave()" class="btn-interact">
                <span class="material-symbols-outlined">
                    bookmark_add
                </span>
                <div class="likeNumber">
                    {{saveNumber}}
                </div>
            </button>
            <ng-template #saved >
                <button matTooltip="Bỏ lưu" matTooltipPosition="right" mat-icon-button (click)="IsSave()" class="selected btn-interact">
                    <span class="material-symbols-outlined selected-icon">
                        bookmark_added
                    </span>
                    <div class="likeNumber">
                        {{saveNumber}}
                    </div>
                </button>
            </ng-template>
            <button class="dis-flex" matTooltip="Copy" matTooltipPosition="right" mat-icon-button title="Chia sẻ link bài viết" (click)="copyToClipboard()">
                <span class="material-symbols-outlined">
                    content_copy
                </span>
            </button>
            <div *ngIf="canEditDelete()">
                <button class="dis-flex" matTooltip="Sửa bài" matTooltipPosition="right" mat-icon-button (click)="updateDocument()">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
                <button class="dis-flex" matTooltip="Xóa bài" matTooltipPosition="right" mat-icon-button  style="display: block;">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
        </div>
    </div>  
</div>
<div class="mt-60 plr-300 h-page">
   
    <div>
        <span style="font-size: 20px;" class="pt-1 pb-1 dis-block">📒 {{document.title}}</span>
        <span class="use-space">{{ document.description }}</span>
        <div class="dis-flex mb-1" style="float: right;">
            <div class="flex-center-h">
                <img src="{{ document.type === 'pdf' ? 'assets/Icon/pdf.png':'assets/Icon/docx.png' }}" alt="type file" class="img-20">
            </div>
            <div class="pl flex-center-h" matTooltip="{{ document.updatedAt == '' ? 'Ngày tạo' : 'Ngày cập nhập' }}">
                <span class="material-symbols-outlined pr">
                    calendar_month
                </span>
                {{document.createdAt ?? document.updatedAt}}
            </div>
        </div>
    </div>
    <div *ngIf="document.type === 'pdf'">
        <ngx-doc-viewer
            [url]="document.filePath"
            viewer="url"
            style="width:100%;height:100vh;"
            >
        </ngx-doc-viewer>
    </div>
    <div *ngIf="document.type === 'docx'" id="viewer" style="width:100%;height:100vh;"> 
        <ngx-doc-viewer
            [url]="document.filePath"
            viewer="google"
            style="width:100%;height:100vh;"
            >
        </ngx-doc-viewer>
        <div class="dis-flex" style="float: right;">
            <a href="{{ document.filePath }}" class="underline-none"><strong>Tải xuống</strong></a>
        </div>
    </div>
    
</div>

