.mat-chip-tag {
    white-space: nowrap;
    margin-left: 5px;
}

.scroll-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.scroll-button:disabled {
    opacity: 0.5; /* Nút bị vô hiệu hóa sẽ mờ đi một chút */
}

