<div class="mt-60">
    <div class="plr-200">
        <div class="flex-center-sb">
            <h1 class="card-title">Khám phá lịch sử</h1>
            <div class="search-container">
                <input type="text" matInput [(ngModel)]="keyWord" placeholder="Tìm kiếm" class="input-search font" (keyup.enter)="search()">
                <button class="btn-search" (click)="search()">
                    <mat-icon matSuffix matRipple class="mr btn-search-icon">search</mat-icon>
                </button>
            </div>
        </div>
        <div></div>
        <div class="flex-container">
            <button mat-icon-button class="scroll-button" (click)="scrollLeft()"><span class="material-symbols-outlined">keyboard_arrow_left</span></button>
            <div mat-chip-listbox class="inner-container" #innerContainer >
              <mat-chip-option style="margin-bottom: 4px;"  class="ml-1 mat-chip-tag" *ngFor="let tag of tags" [selected]="selectedTag === tag" (click)="selectTag(tag)">{{tag}}</mat-chip-option>
            </div>
            <button style="margin-left: 8px;" mat-icon-button class="scroll-button" (click)="scrollRight()"><span class="material-symbols-outlined">keyboard_arrow_right</span></button>
        </div>
        <div style="text-align: center;">
            <div *ngFor="let post of postNews" style="display: inline-flex;">
                <div>
                    <button matTooltip="Lưu vào xem sau" matTooltipPosition="right" mat-mini-fab *ngIf="!post.isSaved; else saved" (click)="IsSave(post, $event)" class="btn-interact po-ab" style="margin-top: 16px; margin-left: 12px;background-color: #00000073 ;">
                        <mat-icon class="material-symbols-outlined text-white">
                            bookmark_add
                        </mat-icon>
                    </button>
                    <ng-template #saved >
                        <button mat-mini-fab (click)="IsSave(post, $event)" class="selected btn-interact po-ab" style="margin-top: 16px; margin-left: 12px;">
                            <mat-icon class="material-symbols-outlined selected-icon text-white" color="primary">
                                bookmark_added
                            </mat-icon>
                        </button>
                    </ng-template>
                </div>
                <a class="card-post plr-12 font pt-1" (click)="postDetail(post)">
                    <img src="{{post.image}}" alt="" class="post-img" loading="lazy">
                    
                    <strong class="text-2-line" style="text-align: start;">{{post.title}}</strong>
                    <div class="dis-flex mt" >
                        <img src="{{post.userShort.image === '' ? 'assets/Icon/user.png': post.userShort.image}}" alt="" class="icon-24">
                        <span class="pl-1 w-90 of-h" *ngIf="post.userShort.fullName !== ''; else fullname">{{post.userShort.fullName}}</span>
                        <ng-template class="pl-1" #fullname>{{post.userShort.fullName}}</ng-template>
                    </div>
                    <div class="flex-center-sb">
                        <div>
                            {{post.viewNumber}} lượt xem
                        </div>
                        <div>
                            <div *ngIf="post.updatedAt == null; else updateAt">{{post.createdAt}}</div>
                            <ng-template #updateAt>{{post.updatedAt}}</ng-template>
                        </div>
                    </div>
                </a>
            </div>
            <mat-paginator [pageSize]="pageSize" 
                        [pageIndex]="currentPage - 1" 
                        [length]="posts.length" 
                        [pageSizeOptions]="[12, 24, 36]"
                        (page)="pageEvent($event)"></mat-paginator>

        </div>
    </div>
    <div>
        
    </div>
</div>