<div style="width: 100%; margin-top: 100px;" class="form-register" >
    <mat-card class="form-register font" >
        <mat-card-header>
            <h5>Bắt đầu thôi 🚀</h5>
        </mat-card-header>
        <mat-card-subtitle>
            <p>Đăng ký tài khoản</p>
        </mat-card-subtitle>
        <mat-card-content >
            <form class="font " [formGroup]="registerform" (ngSubmit)="proceedregisteration()">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput autocomplete="email" placeholder="Ví dụ: 'admin@gmail.com'" formControlName="email" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="Ví dụ: 'Mk5manh/'" autocomplete="password" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Nhập lại mật khẩu</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" >
                </mat-form-field>
    
                <div style="justify-content: space-around; display: flex;">
                    <button mat-raised-button color="primary">Đăng ký</button>
                    <a routerLink="/login"  color="accent">Quay lại đăng nhập</a>
                </div>
    
            </form>
              
        </mat-card-content>
    </mat-card>
</div>

  

