.carousel-container {
    width: 73vw;
    height: 50vh;
    margin: 16px auto;
}
.banner-title{
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #00000091;
    color: white;
    font-weight: 500;
    width: 80vh;
    position: absolute;
    text-align: justify;
    font-size: larger;

}
.card-course {
    max-width: 370px;
    width: 32%;
}

.img-news {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.img-news-50 {
    width: 50%;
    height: auto;
    object-fit: contain;
}
.text-title-line{
    height: 50.6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-6-line{
    line-height: 21px;
    min-width: 40px;
    height: 130px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
:host ::ng-deep{
    .image-container {
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .igx-carousel {
        max-width: 100%;
        width: unset;
    }

    .igx-nav-dot {
        background: black;
        box-shadow: none;
        width: 15px;
        height: 15px;
    }

    .igx-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: unset;
    }

    .igx-slide img {
        object-fit: fill;
        max-width: 90%;
    }
    .igx-carousel__label {
        display: none !important;
    }
}
.header-banner {
    width: 300px;
}
