<div class="mt-60 plr-200">
    <div class="header-banner">
        <div class="carousel-container">
            <igx-carousel #carousel [pause]="false" animationType="fade" [interval]="6000">
                <igx-slide *ngFor="let slide of posts; let i = index">
                    <a matTooltip="{{slide.viewNumber}} lượt xem" matTooltipPosition="above" class="image-container" routerLink="/discover/{{slide.subId}}">
                        <div class="banner-title">📖 {{slide.title}}</div>
                        <img [src]="slide.image" loading="lazy">
                    </a>
                </igx-slide>
            </igx-carousel>
        </div>
    </div>
    <div>
        <div class="mt-60">
            <div class="flex-center-sb">
                <h5>Khóa học</h5>
                <p style="font-size: 12px;"><i>xem thêm</i></p>
            </div>
            <div class="flex-center-sb">
                <a href="" class="underline-none text-black po-re dis-flex" style="width: 270px;">
                    <img src="assets/Icon/contest1.png" alt="" class="po-ab" style="width: 100%; object-fit: contain;">
                    <div class="mt flex-center-sb plr">
                        <div>⭐⭐⭐⭐⭐</div>
                        <div style="font-size: 12px; background-color: #4069E5; border-radius: 4px;">Miễn phí</div>
                    </div>
                    <div class="text-2-line">Lịch sử Việt Nam ( giai đoạn 1945 -1954 )</div>
                    <div class="flex-center-h">
                        <div>🖊️</div>
                        <div class="pl">Nguyễn Văn Nam</div>
                    </div>
                </a>
                <a href="" class="underline-none text-black po-re dis-flex" style="width: 270px;">
                    <img src="assets/Icon/contest2.png" alt="" class="po-ab" style="width: 100%; object-fit: contain;">
                    <div class="mt flex-center-sb plr">
                        <div>⭐⭐⭐⭐⭐</div>
                        <div style="font-size: 12px; background-color: #4069E5; border-radius: 4px;">Miễn phí</div>
                    </div>
                    <div class="text-2-line">Các cuộc khởi nghĩa trong thời gian 1000 năm Bắc thuộc</div>
                    <div class="flex-center-h">
                        <div>🖊️</div>
                        <div class="pl">Nguyễn Xuân Văn Tài</div>
                    </div>
                </a><a href="" class="underline-none text-black po-re dis-flex" style="width: 270px;">
                    <img src="assets/Icon/contest3.png" alt="" class="po-ab" style="width: 100%; object-fit: contain;">
                    <div class="mt flex-center-sb plr">
                        <div>⭐⭐⭐⭐⭐</div>
                        <div style="font-size: 12px; background-color: #4069E5; border-radius: 4px;">Miễn phí</div>
                    </div>
                    <div class="text-2-line">HỌC LỊCH SỬ THEO CHỦ ĐỀ - NHỮNG VẤN ĐỀ THƯỜNG GẶP TRONG ĐỀ THI ...</div>
                    <div class="flex-center-h">
                        <div>🖊️</div>
                        <div class="pl">Đặng Mai Hương</div>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="flex-center-sb">
            <h5>Luyện tập</h5>
            <p style="font-size: 12px;"><i>xem thêm</i></p>
        </div>
        <div class="flex-center-sb">
            <h5>Cuộc thi</h5>
            <p style="font-size: 12px;"><i>xem thêm</i></p>
        </div>
        <div>
            <div class="flex-center-sb">
                <h5>Tham gia diễn đàn</h5>
                <p style="font-size: 12px;"><i>Truy cập</i></p>
            </div>
            <img src="assets/Icon/Forum.jpg" alt="">
        </div>
    </div>
</div>
