<div class="mt-60 plr-200">
    <div class="header-banner">
        <div class="carousel-container">
            <igx-carousel #carousel [pause]="false" animationType="fade" [interval]="6000">
                <igx-slide *ngFor="let slide of posts; let i = index">
                    <a matTooltip="{{slide.viewNumber}} lượt xem" matTooltipPosition="above" class="image-container" routerLink="/discover/{{slide.subId}}">
                        <div class="banner-title">📖 {{slide.title}}</div>
                        <img [src]="slide.image" loading="lazy">
                    </a>
                </igx-slide>
            </igx-carousel>
        </div>
    </div>
    <div>
        <div>
            <div class="flex-center-sb">
                <h5>Khóa học</h5>
                <p style="font-size: 12px;"><i>xem thêm</i></p>
            </div>
            <div class="flex-center-h">
                <div>
                    
                </div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="flex-center-sb">
            <h5>Luyện tập</h5>
            <p style="font-size: 12px;"><i>xem thêm</i></p>
        </div>
        <div class="flex-center-sb">
            <h5>Cuộc thi</h5>
            <p style="font-size: 12px;"><i>xem thêm</i></p>
        </div>
        <div>
            <div class="flex-center-sb">
                <h5>Tham gia diễn đàn</h5>
                <p style="font-size: 12px;"><i>Truy cập</i></p>
            </div>
            <img src="assets/Icon/Forum.jpg" alt="">
        </div>
    </div>
</div>
