.card-mypost {
    object-fit: cover;
    height: 130px;
    width: 200px;
}
.seleted{
    background-color: #3E50CA;
    color: white;
}
.btn-interact{
    display: flex !important;
    left: 22px; position: fixed;
}